<!DOCTYPE html>
<html >
<head lang="en">
    <meta charset="UTF-8">
    <title>Quiz - Willkommen</title>

    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-route.js"></script>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">-->

    <!--Google-Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>

    <link rel="shortcut icon" href="../pic/favicon.ico" type="image/ico"/>
    <link rel="icon" href="../pic/favicon.ico" type="image/ico"/>

    <link rel="stylesheet" href="style/index.css">
    <link rel="stylesheet" href="style/btn.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


    <script src="controllers/controller.js"></script>
    <script src="directives/directives.js"></script>
    <script src="controllers/routes.js"></script>
    <!--<script src="controllers/service.js"></script>-->


</head>
<body ng-app="refQuiz" ng-controller="GetCtrl">
<div class="box box-head">
    Schiedsrichter-Regelfragen
</div>
<div class="box">
    <nav.button  ng-click="changeLocationHome()"><i  class="fa fa-home"></i> Home</nav.button>
    <nav.button  ng-click="changeLocationProfil()"><i  class="fa fa-user"></i> Profil</nav.button>
    <nav.button  ng-click="changeLocationQuiz()"><i  class="fa fa-question"></i> Quiz</nav.button>
    <nav.button  ng-click="changeLocationImpressum()"><i  class="fa fa-info"></i> Impressum</nav.button>
</div>

<div class="box box-content">
    <div ng-view></div>
</div>


<div class="box-fixed">
    Made with <i class="fa fa-heart"></i> by Fabian Hilz | 2015
</div>


</body>
</html>