.contentBox{
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
}
.Box{
  background-color: rgba(0,0,0,.8);
  color: white;
  box-shadow: 0px 0px 10px 4px white;
}
.modal-body > div.input-group-sm > input.form-control{
  margin-bottom: 10px;
}
.modal-body > div.input-group-sm > input.form-control{
  background-color: transparent;
  color: white;
  outline: none;
  border: 1px solid white;
  border-bottom: none;
  /* border-bottom: 2px solid white; */
  border-radius: 0;
  box-shadow: 0px 0px 0px;
  -webkit-box-shadow: 0 0 0 ;
}
.modal-body > div.input-group-sm > input.form-control:focus{
  border: 2px solid white;
  border-bottom: none;
  outline: 0;
  box-shadow: 0px 0px 0px;
  -webkit-box-shadow: 0 0 0 ;
  /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); */
}
