body{
  color:white;
 /* background:linear-gradient(#2c3e50,rgb(0, 255, 220)100%) center no-repeat fixed;
    font-family: 'Ubuntu', sans-serif;*/

    background-color: #bdc3c7;
    height: auto;

}

.loginScreen{
    background: url("/background_3.jpg") no-repeat center fixed;
    background-size: cover;
}

.bottomLine{
  position: fixed;
  bottom: 0;
  height: 20px;
  line-height: 1.5;
  color: white;
  width: 100%;
  text-align: center;
  background-color: #323637;
}

.myBrand{
  width: 100%;
  height: 100%;

}
.loginBtn{
  border-radius: 0;
  width: 100%;
  border: 0px;
  border-top:1px solid white !important;
  background-color: transparent;
}
.profilePic{
  width: 120px;
  height: 120px;
  border-radius: 60px;
  border: 4px solid black;
  left: 46%;
  top: 6px;
  position: fixed;

}

form > input.form-control{
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    border-left: 1px solid white;
    /* border-bottom: 2px solid white; */
    border-radius: 0;
  box-shadow: 0px 0px 0px;
  -webkit-box-shadow: 0 0 0 ;
}
form > input.form-control:focus{
  border-left: 2px solid white;
  outline: 0;
  box-shadow: 0px 0px 0px;
   -webkit-box-shadow: 0 0 0 ;
  /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); */
}
a.navbar-brand{
  width: 75px;
  height: 75px;
}
.navbar-right,
.navbar-left{
  line-height: 4.6;
}
.navbar-form{
  margin-bottom:0;
}
nav.navbar.navbar-fixed-top > div.container-fluid{
  background-color: rgba(0, 0, 0, 0.82);
}

#exampleModal{
  color: black;
}

.fabSpeedDialdemoBasicUsage .text-capitalize {
  text-transform: capitalize; }

.fabSpeedDialdemoBasicUsage .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused {
  background-color: #000 !important; }

.fabSpeedDialdemoBasicUsage p.note {
  font-size: 1.2rem; }

.fabSpeedDialdemoBasicUsage .lock-size {
  min-width: 300px;
  min-height: 300px;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto; }

#fixedMenu{
  position: fixed;
  top:95px;
  right: 0;
  z-index: 3;
  /*left: calc(50% - 56px/2);*/

}
button.md-fab.md-warn.md-button.md-ink-ripple{
  background-color: #2ecc71;
}
.md-button.md-warn.md-fab:not([disabled]):hover{
  background-color: #19703e;
}
