body{
  color:white;
  background:linear-gradient(#2c3e50,rgb(0, 255, 220)100%) center no-repeat fixed;
    font-family: 'Ubuntu', sans-serif;
}

.bottomLine{
  position: fixed;
  bottom: 0px;
  height: 40px;
  line-height: 3;
  border-top: 1px solid white;
  color: #2c3e50;
  width: 100%;
  text-align: center;
}
.well{
  color: white;
  margin-bottom: 10px;
  background-color: rgba(15, 202, 61, 0.17) !important;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25) !important;
  background-image: none;
  border:none
}
.myBrand{
  width: 32px;
  height: 32px;
  border-radius: 16px;
}
.profilePic{
  width: 32px;
  height: 32px;
  border-radius: 16px;
  border: 1px solid white;
}

.answerBtn{
  margin-top: 10px;
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.modal-footer > i:hover{
  cursor: pointer;
}
.opportunities{
  border-bottom: 1px solid white;
    margin-bottom: 10px;  
}
