body{
  color:white;
  background:linear-gradient(#2c3e50,rgb(0, 255, 220)100%) center no-repeat fixed;
    font-family: 'Ubuntu', sans-serif;
}

.bottomLine{
  position: fixed;
  bottom: 0px;
  height: 40px;
  line-height: 3;
  border-top: 1px solid white;
  color: #2c3e50;
  width: 100%;
  text-align: center;
}
.myBrand{
  width: 32px;
  height: 32px;
  border-radius: 16px;
}
.profilePic{
  width: 32px;
  height: 32px;
  border-radius: 16px;
  border: 1px solid white;
}
