<link rel="stylesheet" href="/dialog.css">

<md-dialog aria-label="Einstellungen">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools dialogHeader">
        Hey {{username}} ~ Deine Einstellungen
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="glyphicon glyphicon-remove" aria-label="Close Dialog"></i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <div class="row">
          <div class="col-md-12 userImage"></div>
        </div>
      </div>

    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-warn" ng-click="answer('not useful')">
        Abbrechen
      </md-button>
      <md-button class="md-primary" ng-click="answer('useful')">
        Speichern & Schließen
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
