body {
    background: url("../pic/background.jpg") center center fixed no-repeat;
    background-size: cover;
}

.box {

    margin: 20px;
    background-color: ghostwhite;
    opacity: 0.8;
    color: black;
    border-radius: 5px;
    padding: 10px;

}

.box-head {
    font-size: 600%;
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
}

.box-content {
    font-family: 'Glegoo', serif;
    min-height: 500px;
    max-height: 100%;
    opacity: 0.9;
}

.box-fixed {
    font-family: 'Glegoo', serif;
    background-color: silver;
    width: 100%;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
}

.userPic {
    margin-top: 10px;
    display: inline-block;
    float: left;
    border: 1px solid grey;
    overflow: hidden;
    width: 300px;
    height: 370px;
    background-color: white;
    opacity: 1;

}

.userInfos {
    margin-left:10px;
    padding: 5px;
    margin-top: 10px;
    display: inline-block;
    float: left;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    overflow: hidden;
    min-width: 30%;
    height: 370px;
}

.infoFeld {
    padding: 5px;
    margin-bottom: 20px;
    width: 100%;
    background-color: darkgreen;
    color: white;
    border-radius: 5px;
}

.statistic{
    margin-left:10px;
    padding: 5px;
    margin-top: 10px;
    display: inline-block;
    float: left;
    overflow: hidden;
    min-width: 52%;
    height: 370px;
}
