<!DOCTYPE html>
<html ng-app="quiz">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">

    <title>SR-Quiz</title>

    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular/angular-route.js"></script>


    <!-- d3 -->
    <script src="http://d3js.org/d3.v3.min.js"></script>


    <script src="/main.js"></script>
    <script src="/admin.js"></script>
    <script src="/home.js"></script>
    <script src="/quiz.js"></script>
    <script src="/profile.js"></script>
    <script src="/gControl.js"></script>
    <script src="/control.js"></script>

    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.css">

    <!-- google-font -->
    <!-- <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'> -->

    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="/box.css">
    <link rel="stylesheet" href="/profile.css">
    <!-- directives -->
    <link rel="stylesheet" href="/quiz.button.css">
    <script src="/quiz.button.js"></script>


  </head>

  <body ng-controller="homeCtrl">
    <nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"><i class="glyphicon glyphicon-menu-hamburger"></i></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-click="currentLocation('home')" href="#/">
        <img src="/logo_5.png" alt="Brand" class="myBrand">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <!-- <li ng-class="{'active' : dashboard}"><a ng-click="currentLocation('dashboard')" href="#dashboard">dashboard</a></li> -->
        <!-- <li ng-class="{'active' : profile}"><a ng-click="currentLocation('profile')" href="#profile">profile</a></li> -->
        <li ng-class="{'active' : gControl}"><a ng-click="currentLocation('gControl')" href="#gControl">GAME CONTROL</a></li>
        <li ng-class="{'active' : quiz}"><a ng-click="currentLocation('quiz')" href="#quiz">QUIZ</a></li>
      </ul>
      <!-- <ul class="nav navbar-nav navbar-center">
        <li><img ng-src="{{userImg}}" class="profilePic" align="middle"> </li>
      </ul> -->
      <ul class="nav navbar-nav navbar-right">
          <li ng-if="admin"><a ng-click="currentLocation('adminPanel')" href="#adminPanel">ADMINPANEL</a></li>
          <li ng-class="{'active' : impressum}"><a ng-click="currentLocation('impressum')" href="#impressum">IMPRESSUM</a></li>
          <li><a data-toggle="popover"><span style="color: #2ecc71;">{{user}}</span>  <i class="glyphicon glyphicon-chevron-down"></i> </a></li>
      </ul>



    </div>
  </div>
</nav>
  <div ng-view></div>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Deine Einstellungen, {{user}} (32sr0883) </h4>
      </div>
      <div ng-show=editSettings class="modal-body">
        testedit
      </div>
      <div ng-show=!editSettings class="modal-body settingsWrapper">
        <div class="personalSettings row">
          <div class="col-md-5"><b>E-Mail:</b></div>
          <div class="col-md-5">fabian.hilz@fortunakirchfeld.de</div>
          <button class="btn btn-default col-md-2">Edit</button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success">Save and Close</button>
      </div>
    </div>
  </div>
</div>

  <div class="bottomLine">| 2016 SR-Quiz &copy; by Locke21 |</div>

  </body>
</html>
