<!DOCTYPE html>
<html ng-app="quiz">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">

    <title>SR-Quiz</title>

    <script src="/jquery/dist/jquery.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular/angular-route.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>

    <script src="/main.js"></script>
    <script src="/home.js"></script>
    <script src="/quiz.js"></script>
    <script src="/profile.js"></script>
    <script src="/dashboard.js"></script>
    <script src="/control.js"></script>

    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.css">

    <!-- google-font -->
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/navbar.css">
    <link rel="stylesheet" href="/box.css">
    <link rel="stylesheet" href="/profile.css">
    <!-- directives -->
    <link rel="stylesheet" href="/quiz.button.css">
    <script src="/quiz.button.js"></script>

  </head>

  <body ng-controller="homeCtrl">
    <nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"><i class="glyphicon glyphicon-menu-hamburger"></i></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-click="currentLocation('home')" href="#/">
        <img src="/logo_5.png" alt="Brand" class="myBrand">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li ng-class="{'active' : dashboard}"><a ng-click="currentLocation('dashboard')" href="#dashboard">dashboard</a></li>
        <li ng-class="{'active' : profile}"><a ng-click="currentLocation('profile')" href="#profile">profile</a></li>
        <li ng-class="{'active' : quiz}"><a ng-click="currentLocation('quiz')" href="#quiz">quiz</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li ng-class="{'active' : impressum}"><a ng-click="currentLocation('impressum')" href="#impressum">impressum</a></li>
          <li><a onclick="logout()">logout</a></li>
          <li><img ng-src="{{userImg}}" class="profilePic" align="middle"> </li>
      </ul>

    </div>

  </div>
</nav>
  <div ng-view></div>

  <div class="bottomLine">| 2016 SR-Quiz &copy; by Locke21 |</div>

  </body>
</html>
